{% extends 'base.html' %}

{% block title %}Convert Your URL{% endblock title %}

{% block content %}

<h2 class="center-align">Enter Your URL To Transform</h2>
<h3 class="center-align">A default has been provided for you</h3>
<form method="post" action="/converter/">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Transform!" class="waves-effect waves-light btn">
  <p class="center-align">Try Typing a slash after the 8000 in the url to test your url also!</p>
  <p class="center-align">Example: localhost:8000/(your new url)</p>
</form>
<br>
<h3>Check out what everyone else has transformed!</h3>
{% for user in users  %}
  <h4>User: {{ user.user.username}}</h4>
  <p>Url: {{ user.url }}</p>
  <p>Short Url: <a href="{{ user.url }}">{{ user.short }}</a></p>
  <p>Description: {{ user.description }}</p>
  <em>Created: {{ user.created }}</em>
{% endfor %}

{% endblock %}
